.footer {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--secondary);
  row-gap: 30px;
}

.footerFirstSection {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.footerFirstSection img {
  width: 71.5%;
}

.footerFirstSection p {
  font: var(--cardTitle);
  color: var(--other);
  text-align: center;
}

.footerSecondSection {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-content: space-between;
  gap: 20px;
}

.footerSections {
  color: var(--other);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerSections header {
  font: var(--cardTitle);
}

.footerSections ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  list-style: none;
  font: var(--nav);
  gap: 20px;
}

.footerSections li {
  cursor: pointer;
  padding: 5px;
}

.footerSections li:last-child,
.footerSections li:nth-last-child(2) {
  grid-column: span 2;
}

@media screen and (min-width: 430px) {
  .footerFirstSection {
    grid-column: 1 / span 6;
  }

  .footerFirstSection img {
    width: 28.5%;
  }

  .footerSecondSection {
    grid-column: 1 / span 6;
  }
}

@media screen and (min-width: 1024px) {
  .footerFirstSection {
    grid-column: 2 / span 5;
    align-items: start;
  }

  .footerFirstSection img {
    width: 37.8%;
  }

  .footerFirstSection p {
    text-align: start;
  }

  .footerSecondSection {
    grid-column: 8 / span 4;
  }
}
