:root {
  --primary: #ff9064;
  --secondary: #333333;
  --other: #ffffff;
  --robotoCondensed: "Roboto Condensed", sans-serif;
  --dmSans: "DM Sans", sans-serif;
  --regular: 400;
  --bold: 700;
  --nav: var(--regular) 1vw var(--robotoCondensed);
  --title: var(--regular) 70px var(--robotoCondensed);
  --subTitle: var(--regular) 30px var(--dmSans);
  --normal: var(--regular) 1vw var(--dmSans);
  --sectionTitle: var(--regular) 50px var(--robotoCondensed);
  --cardTitle: var(--bold) 24px var(--robotoCondensed);
  --titleTablet: var(--regular) 40px var(--robotoCondensed);
  --subTitleTablet: var(--regular) 28px var(--dmSans);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 20px;
  padding: 0 20px;
}

img {
  width: 100%;
}

@media screen and (min-width: 431px) {
  .section {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1025px) {
  .section {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding: 0 70px;
  }
}
